:root {
	--primary: #702963;        
	--primary-light: #eee;
	--primary-text: #ffffff;   
	--accent: #e6f3fe;         
	--dark: #333333;
	--border-light: rgba(0 0 0 / 0.1);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, helvetica, sans-serif;
	margin: 1rem;
	background: var(--primary-light);
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

h1 {
	border-bottom: 1px solid var(--border-light);
	margin: 1rem 0;
}

main {
	display: grid;
	grid-template-columns: 1fr 200px;
	grid-gap: 1.5rem;
}

section {
	padding: 1rem;
}

h2 {
	color: navy;
	grid-column: 1/3;
	text-align: left;
}

h3 {
	margin-bottom: 0.5rem;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid var(--border-light);
	padding: 0.5rem 0;
	font-size: smaller;
	text-align: left;
}

.banner {
	border: 1px solid rgba(0 0 0 / 0.2);
	padding: 1rem;
	background-color: var(--accent);
	font-weight: 700;
	word-break: break-word;
	text-align: center;
	border-radius: 6px;
	margin-top: 1rem;
}

.callout {
	border: 1px solid var(--border-light);
	color: var(--primary-text);
	background-color: var(--primary);
	grid-column: 1/3;
	padding: 1.5rem;
	border-radius: 6px;
}
