@media (min-width: 768px) {
  header {
    padding: 1rem 5%;
  }

  #menu {
    display: none;
  }

  .navigation {
    position: static;
    display: flex !important;
    flex-direction: row;
    background: none;
    width: auto;
  }

  .navigation a {
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
  }
  
  .navigation a:hover, .navigation a.active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  main {
    padding: 2rem 5%;
  }
}