@media (min-width: 700px) {
  #menu {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: none;
  }

  .navigation a {
    border: none;
    padding: 0.75rem 1.5rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  figure img {
    height: 200px;
    object-fit: cover;
  }
}
